.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(53, 53, 53);

  p {
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
}

.logo {
  width: 300px;
}